<section class="container__todos">
    <form class="todo__form" (ngSubmit)="onSubmit()" [formGroup]="todoForm">
        <h2>
            @if (currentTodoUpdate) {
            Editar tarea
            } @else {
            Crear tarea
            }
        </h2>
        <label class="form__control">
            Titulo tarea
            <input type="text" placeholder="ej: angular" formControlName="title">
            @if (todoForm.get('title')?.touched && todoForm.get('title')?.errors?.['required']) {
            <p class="control__error">Este campo es requerido</p>
            }
            @if (todoForm.get('title')?.touched && todoForm.get('title')?.errors?.['minlength']) {
            <p class="control__error">Minimo 5 caracteres</p>
            }
        </label>

        <label class="form__control">
            Descripción tarea
            <input type="text" placeholder="ej: Debo aprender angular" formControlName="desc">
            @if (todoForm.get('desc')?.touched && todoForm.get('desc')?.errors?.['required']) {
            <p class="control__error">Este campo es requerido</p>
            }
        </label>

        <label class="form__control">
            Dificultad tarea
            <select formControlName="difficulty">
                <option disabled>Escoge uno</option>
                <option value="easy">Fácil</option>
                <option value="medium">Normal</option>
                <option value="hard">Difícil</option>
            </select>
            @if (todoForm.get('difficulty')?.touched && todoForm.get('difficulty')?.errors?.['required']) {
            <p class="control__error">Este campo es requerido</p>
            }

        </label>

        <button [class]="'btn ' + (currentTodoUpdate ? 'btn_update' : 'btn_create')" [disabled]="todoForm.invalid">
            @if (currentTodoUpdate) {
            Editar tarea
            }@else {
            Crear tarea
            }
        </button>
    </form>

    <section>
        <div class="header__todos">
            <div>
                <h2>Lista de tareas</h2>
                @if (todos().length) {
                <h4>Cantidad de tareas <span>{{todos().length}}</span></h4>
                }
            </div>
            @if (todos().length) {
            <div class="content_filtros">
                <h5 class="filters__title" (click)="showFilters ? handleShowFilters(false) : handleShowFilters(true)">
                    <i class='bx bx-filter'></i>
                    Filtros
                </h5>

                <ul [class]="'filters ' + (showFilters && 'filters--show')">
                    <li (click)="filter.set('easy')">Todos faciles</li>
                    <li (click)="filter.set('medium')">Todos normales</li>
                    <li (click)="filter.set('hard')">Todos dificiles</li>
                    <li (click)="filter.set('completed')">Todos completados</li>
                    <li (click)="filter.set('nocompleted')">Todos sin completar</li>
                    <li (click)="filter.set('all')">Mostrarlos todos</li>
                </ul>
            </div>
            }
        </div>

        <ul class="todos">
            @for (todo of todosFilteres(); track todo.id) {
            <li class="todo">
                <div class="todo__info">
                    <p class="todo_title">
                        {{todo.title}}
                        @switch (todo.difficulty) {
                        @case ("easy") {
                        <span class="todo_difficulty todo_easy">Fácil</span>
                        }
                        @case ("medium") {
                        <span class="todo_difficulty todo_medium">Normal</span>
                        }
                        @case ("hard") {
                        <span class="todo_difficulty todo_hard">Difícil</span>
                        }
                        }
                    </p>
                    <button (click)="completeStateTodo(todo.id)"
                        [class]="'btn ' + (todo.stateTodo ? 'todo_completed' : 'todo_Nocompleted')">
                        @if (todo.stateTodo) {
                        <span>Completada</span> <i class='bx bx-check-circle'></i>
                        } @else {
                        <span>Sin completar </span><i class='bx bx-x-circle'></i>
                        }
                    </button>
                    <p class="todo_dec">{{todo.desc}}</p>
                </div>
                <div class="options">
                    <button class="btn btn_edit" (click)="handleUpdate(todo)">
                        <i class='bx bx-edit'></i>
                    </button>
                    <button class="btn btn_delete" (click)="deleteTodo(todo.id)">
                        <i class='bx bxs-trash'></i>
                    </button>
                </div>
            </li>
            }@empty {
            <p class="alert alert--info">No hay tareas que mostrar</p>
            }
        </ul>
    </section>
</section>